<header class='container-fluid' id='allContent'>
    <!-- As a link -->
<nav class='navbar navbar-light bg-white'>
    <div class='container-fluid d-flex justify-content-end px-0'>
       <a class='navbar-brand' href='#' id='textTop'><small>Hecho con amor por Vanessa Cordero </small><img src='./assets/img/love.svg' alt='love image' width='25px'></a> 
    </div>
  </nav>
</header>

<main>
<app-board></app-board>
</main>

<footer class=' mb-5'>
  <div class='ps-4'>Iconos  por la cortesia de <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>