  
@font-face{
    font-family: 'font-logo';
    src: url('../../assets/fonts/FredokaOne-Regular.ttf');
}

@font-face{
    font-family: 'font-general';
    src: url('../../assets/fonts/VarelaRound-Regular.ttf');
}

*{
    font-family: 'font-general';  
}

#infoCon{
    max-height: 500px;
}

.WGame{
    font-family: 'font-logo' !important;
}
.xSel{
color: #ffbc00;
}
.oSel{
color: #ff0202;
}

.logoFont{
    font-family: 'font-logo' ;
    color: rgb(80, 121, 255);
}
.colLog{
    font-family: 'font-logo' ;
    color: rgb(245 103 150);
}

#grid-b{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
    border-radius: 5px;
}
  
app-square {
    padding: 4px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.712);
}

#grid-b app-square:nth-child(4),
#grid-b app-square:nth-child(5),
#grid-b app-square:nth-child(6),
#grid-b app-square:nth-child(7),
#grid-b app-square:nth-child(8),
#grid-b app-square:nth-child(9){
    border-top: 5px solid #5177f5;
}
#grid-b app-square:first-child,
#grid-b app-square:nth-child(2),
#grid-b app-square:nth-child(4),
#grid-b app-square:nth-child(5),
#grid-b app-square:nth-child(7),
#grid-b app-square:nth-child(8){
    border-right: 5px solid #5177f5;
}
#grid-b app-square:first-child,
#grid-b app-square:nth-child(2),
#grid-b app-square:nth-child(3),
#grid-b app-square:nth-child(4),
#grid-b app-square:nth-child(5),
#grid-b app-square:nth-child(6){
    border-bottom: 5px solid #5177f5;
}
#grid-b app-square:nth-child(2),
#grid-b app-square:nth-child(3),
#grid-b app-square:nth-child(5),
#grid-b app-square:nth-child(6),
#grid-b app-square:nth-child(8),
#grid-b app-square:nth-child(9){
    border-left: 5px solid #5177f5;
}

.cardScore{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 5px #f56796 solid;
    background-color: #fb79a5;
}
.cardScore p{
    margin: auto;
}

.cardScore :first-child{
    font-size: 2.5rem;
}
.cardScore :nth-child(2){
    font-size: 2.5rem;
    color: #FFF;
}

 
    #winner,#Empate{
        display: flex;
        flex-direction: column;
    }

    #winner img,#Empate img{
        width: 200px;
        margin: auto;
    }
    


    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
        }
        @keyframes fadeInRight {
        0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        }
        100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
        }
     } 


     /*BLoquear los eventos click si se acaba el juego*/
     .over{
        pointer-events:none
     }
    
     .fadeOut {
        -webkit-animation-name: fadeOut;
        animation-name: fadeOut;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeOut {
        0% {opacity: 1;}
        100% {display: none !important;opacity: 0;
        }
        }
        @keyframes fadeOut {
        0% {opacity: 1;}
        100% {display: none !important;opacity: 0;
            }
        } 
    
     @media (max-width: 768px) {
        app-square {
            padding: 5px;
            height: 150px;
        }
    
        #grid-b{
            grid-template-columns: 150px 150px 150px;
            grid-template-rows: 150px 150px 150px;
            padding-left: 15px;
        }
    
   
    
    }

     @media (max-width: 480px) {
        app-square {
            padding: 5px;
            height: 100px;
        }
    
        #grid-b{
            grid-template-columns: 100px 100px 100px;
            grid-template-rows: 100px 100px 100px;
            padding-left: 15px;
        }
    
        #winner img,#Empate img{
            width: 150px;
        }
        
    
        
      }